@media screen and (max-width: 780px) {

    /* Layout*/
    .three-column-grid {
    }

    .sidecolumn {
        display: none;
    }
    /*Navigation*/
header {
margin: 0  auto;
}

nav {
    display: ;
}

.flexcentered {
    justify-content: center;
    align-items: center;      
}

    .mobilelogo {
        text-align: left;
    }

    .navmenu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navleft {
        width: calc(100vw - 100px);
        padding: 0;
        justify-content: flex-start;
        text-align: left;
        min-width: 193px;
    }

    .navleft h1 {
        color: var(--orange)
    }


    main {
        padding: 0%;
        text-align: center;
        font-size: 18px;
        margin: 2% auto;
        width: 95%;
        max-width: 480px;
    }



    img {
        text-align: center;
    }
    
    main p {
        text-align: left;
    }

    h1 {
        color: var(--black);
        font-family: var(--title-font);
        font-size: 2rem;
        margin: 10px 20px 10px; /*top, sides, bottom*/
        text-align: center;
    }
    
    h2 {
        color: var(--black);
        font-family: var(--title-font);
    }
    
    h3 {
        color: var(--black);
        font-family: var(--title-font);
        margin: 1-px 0px 0px;
    }
    
    h4 {
        font-family: var(--title-font);
        color: var(--black);
        margin: 10px 0px 0px;
    }
    
    .logo a {
        text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
        display: inline-block; /* Ensure the link is treated as a block for transform */
        transition: transform 0.3s ease, text-shadow 0.3s ease; /* Smooth transition */
        border-bottom: none;
    }
    
    .logo a:hover {
        text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);;
        transform: translate(2px, 2px); /* Moves the link 2px right and 2px down */
        transition: transform 0.3s ease, text-shadow 0.3s ease; /* Smooth transition */
    }
    
    .logomini a {
        text-shadow: 1.5px 1.5px 0px rgba(0, 0, 0, 0.2);
        display: inline-block; /* Ensure the link is treated as a block for transform */
        transition: transform 0.3s ease, text-shadow 0.3s ease; /* Smooth transition */
        border-bottom: none;
    }
    
    .logomini a:hover {
        text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);;
        transform: translate(1.5px, 1.5px); /* Moves the link 2px right and 2px down */
        transition: transform 0.3s ease, text-shadow 0.3s ease; /* Smooth transition */
    }
    
    
    a {
        color: var(--orange);
        text-decoration: none;
        border-bottom: 2px solid transparent;
        transition: border-bottom-color 0.3s ease, border-bottom-width 0.3s ease;
    }
    
    a:hover {
        color: var(--orange);
        text-decoration: none;
        text-shadow: none;
        border-bottom-color: var(--orange);
        transition: border-bottom-color 0.3s ease, border-bottom-width 0.3s ease;
    }
    
    body {
        font-family: "Aptos";
        color:var(--grey);
        margin: 0px;
    }
    
    .bio{
        font-size: 23px;
        padding: 10px 20px 10px;
        text-align: center;
    }
    
    /*Images*/
    
    img {
        border-radius: 30px;
        box-shadow: var(--longshadow);
        margin-left: auto;
        margin-right: auto;
        width: 50%;

    }
    
    .socials img {
        border-radius: 0px;
        width: 30px;
        box-shadow: none;
    }
    
    .profilepic {
        border-radius: 100px;
        box-shadow: var(--longshadow);
        width: 144px;
        margin: 5vh auto;
    }



/*Navigation bar*/
    nav {
        display: grid;
        width: 100%; /* Ensure full width of the container */
        margin: 0px auto;
      }

      #headercontainer {

      }
      .navright {
        width:10vw;
        padding: 0;
      }


    .navright ul {
        justify-content: center;
    }
    .navmenu{
        list-style-type: none; /* Removes bullets */
        padding: 0;
        margin: 0;
        display: flex; /* Makes the list horizontal */
        gap: 30px; /* Adds spacing between items */
        font-family: var(--title-font);
        justify-content: center; /* Centers the entire menu within its container */
        align-items: center; /* Vertically centers items */
        font-size: 5vw;
        width: 100%;
      }
    
      .navmenu2{
        list-style-type: none; /* Removes bullets */
        padding: 0;
        margin: 0px;
        display: flex; /* Makes the list horizontal */
        font-family: var(--title-font);
        justify-content: center; /* Centers the entire menu within its container */
        font-size: 24px;
        align-items: center; /* Vertically centers items */
        gap: 10px;
        width: 100%;
        border-radius: 80px;
        margin: auto;
        height:130px;
        }
        .navmenu2 li{
            width: 30%;
        }
        
      .navmenu2 p{
        display:none;
      }

/*Hamburger stuff*/

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Show menu when active */
.menu-overlay.active {
    display: flex;
}

/* Menu links */
.menu-overlay a {
    color: white;
    font-size: 2rem;
    text-decoration: none;
    margin: 0px;
}

/* Close button */
.close-menu {
    position: block;
    top: 50%;
    right: 50%;
    font-size: 4rem;
    color: white;
    cursor: pointer;
}

/* Hamburger button */
.hamburger {
    top: 20px;
    right: 20px;
    background: var(--orange);
    color: white;
    padding: 10px 15px;
    font-size: 1.5rem;
    border: none;
}

.dropdown-content {
    display: block;
}
#dropdownMenu {
    display: block;
}
.centered-list {
text-align:left; /* Centers the list as a block */
padding-left:30px;
}

.center {
    text-align: center;
}

      img {
        border-radius: 30px;
        box-shadow: var(--longshadow);
        width: 90%;
        margin: 15px auto;
        padding: 0px;
    }

    .button {
        display: inline-block;
        color: white;
        background-color: var(--orange);
        border: none;
        padding: 5px 10px; /* Padding for the button */
        border-color: #be5103;
        border-radius:5px;
        border-width: 3px;
        border-style: solid;
        box-shadow: var(--longshadow);
        cursor: pointer; /* Pointer cursor on hover */
        transition: transform 0.5s ease, box-shadow 0.5s ease;
    
        }
    
    
    .button:hover {
        display: inline-block;
        color: white;
        background-color: var(--orange);
        border: none;
        padding: 5px 10px; /* Padding for the button */
        border-color: #be5103;
        border-radius: 50px;
        border-width: 3px;
        border-style: solid;
        transform: translate(4px, 4px);
        box-shadow: var(--shadow);
        transition: transform 0.5s ease, box-shadow 0.5s ease;
    }
    


    .sticky {
        position: sticky;
        z-index: 10;
        top: 40px;
        margin:0px 10px;
        }
    
    .socials img {
        border-radius: 0px;
        width: 30px;
        box-shadow: none;
    }

    .sociallist{
        list-style-type: none; /* Removes bullets */
        padding: 0;
        margin: 40px 0px 20px;
        display: flex; /* Makes the list horizontal */
        gap: 80px; /* Adds spacing between items */
        justify-content: center; /* Centers the entire menu within its container */
        align-items: center; /* Vertically centers items */
    }
    
    .sociallist img {
        width: 50px;
    }

    .mobileexclude {
        display: none;
    }

    .mobileinclude {
        display: flex; /* Enables flexbox for alignment */
        align-items: center; /* Centers content vertically */
    }

    .mobileonly {
        display: flex;
    }

    .borderbox {
        border-color: #be5103;
        border-radius: 33px;
        border-width: 2px;
        border-style: solid;
        padding: 0px 20px 0px;
        box-shadow: var(--longshadow);
        margin: 10px 0px 0px;
    }
    
    .borderboxgreen {
        border-color: var(--green);
        border-radius: 33px;
        border-width: 2px;
        border-style: solid;
        padding: 10px 10px 10px;
        box-shadow: var(--longshadow);
        margin: 10px 0px 10px;
    }

    footer {
        margin: 0px auto;
        padding: 0px 10px;
        text-align: center;
        justify-content: center;
        display: flex;
        font-size:12px
    }

    .onedot{
        border: 0;
        border-top: 10px dotted lightgrey; /* Dotted line */
        margin: 40px auto 30px;   
        width: 10px;
    }
    
    .threedots{
        border: 0;
        border-top: 10px dotted lightgrey; /* Dotted line */
        margin: 50px auto 30px;   
        width: 50px;
    }

    .profile-link {
        font-size: 18px;
        text-decoration: none;
        display: inline-block;
        text-align: center;
        margin: 20px auto;
    }
    
    .profile-link img {
        display: block;
        margin: 0px auto; /* Adjust spacing here */
        width: 60px;
    }

    button {
        list-style-type: none; /* Removes bullets */
        padding: 0;
        margin: 0px 10px 0px;
        display: flex; /* Makes the list horizontal */
        font-family: var(--title-font);
        color: var(--orange);
        justify-content: center; /* Centers the entire menu within its container */
        align-items: center; /* Vertically centers items */
        font-size: 24px;
        background-color: none;
        border: none;
        cursor: pointer;
        padding: 10px;
        border-radius: 20px;
    }

    button:hover {
        border: none;
        color: white;
        background-color: var(--orange);
        padding: 5px;
    }

    button.active {
        color: white;
        background-color: var(--orange);
    }
    


    .buttoncontainer {
        padding: 5px;
        margin: 2px;
      }

      .backbutton {
        background-color: var(--orange);
        color: white;
        width: 60px;
        height: 60px;
        border: none;
        border-radius: 30px;
        display: flex;
        align-items: center;
        font-size: 28px;
        z-index: 10;
        justify-content: center;
        margin:0px 10px;
        box-shadow: var(--longshadow)
    }
    .backbuttoncontainer{
        display: flex;
        justify-content: center;  /* Horizontally centers the button */
        align-items: center;      /* Vertically centers the button */
        height: 10vh; 
    }

      }