<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/tablet.css">
    <link rel="stylesheet" href="/mobile.css">
  </head>
  <body>
    <header>
        <nav id="top">
          <div class="navleft"> <!-- Placeholder container. Can be used if I'm using the left side  -->
            <a href="/index.html" class="mobileinclude">
                <h1>Anthony Hua</h1>
              </a>
        </div>
        <div id="headercontainer">
        </div>
     </header>

    <div id="main" role="main" class="">
      {{ content }}
    </div>

    <footer>
      <div id="footercontainer"></div>
  </footer>
  </body>
  <script src="/scripts/profilefetch.js"></script>
  <script src="/scripts/headerfetch.js"></script>
  </html>
  </body>
</html>
